src/main/resources/2020v3.0/Extensions/2350/ReturnHeader2350.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Individual Return Header</Description>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 16, 2020</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>
	<xsd:element name="ReturnHeader" type="ReturnHeaderType"/>
	<xsd:complexType name="ReturnHeaderType">
		<xsd:annotation>
			<xsd:documentation>Content model for the individual tax return</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Date and Time Stamp -->
			<xsd:element name="ReturnTs" type="TimestampType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>The date and time when the return was created</xsd:Description>
						<ELFFieldNumber>SUM0260</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Year -->
			<xsd:element name="TaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Tax Year</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Period Begin Date -->
			<xsd:element name="TaxPeriodBeginDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Tax Period Begin Date</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Period End Date -->
			<xsd:element name="TaxPeriodEndDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Tax Period End Date</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Consortium Return Code -->
			<xsd:element name="ConsortiumReturnCd" type="ConsortiumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Consortium Return Code</xsd:Description>
						<ELFFieldNumber>SUM0285</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Intermediate Service Provider Number -->
			<xsd:element name="ISPNum" type="ISPType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Intermediate Service Provider Number</xsd:Description>
						<ELFFieldNumber>SUM0030</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Software Identification -->
			<xsd:element name="SoftwareId" type="SoftwareIdType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Software Identification</xsd:Description>
						<ELFFieldNumber>SUM0230</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Software Version -->
			<xsd:element name="SoftwareVersionNum" type="SoftwareVersionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Software Version</xsd:Description>
						<ELFFieldNumber>SUM0240</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Originator -->
			<xsd:element name="OriginatorGrp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EFIN" type="EFINType">
							<xsd:annotation>
								<xsd:documentation>
									<ELFFieldNumber>SUM0020</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OriginatorTypeCd" type="OriginatorType">
							<xsd:annotation>
								<xsd:documentation>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Practitioner PIN -->
						<xsd:element name="PractitionerPINGrp" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EFIN" type="EFINType">
										<xsd:annotation>
											<xsd:documentation>
												<ELFFieldNumber>AUTH0090</ELFFieldNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PIN" type="PINType">
										<xsd:annotation>
											<xsd:documentation>
												<ELFFieldNumber>AUTH0090</ELFFieldNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Self-select PIN -->
			<xsd:element name="SelfSelectPINGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Self-select PIN</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PrimaryBirthDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Date Of Birth</xsd:Description>
									<ELFFieldNumber>AUTH0010</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpouseBirthDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Date Of Birth</xsd:Description>
									<ELFFieldNumber>AUTH0040</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PrimaryPriorYearAGIAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Prior Year AGI</xsd:Description>
									<ELFFieldNumber>AUTH0020</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpousePriorYearAGIAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Prior Year AGI</xsd:Description>
									<ELFFieldNumber>AUTH0050</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PrimaryPriorYearPIN" type="PINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Prior Year PIN</xsd:Description>
									<ELFFieldNumber>AUTH0025</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
												<xsd:element name="SpousePriorYearPIN" type="PINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Prior Year PIN</xsd:Description>
									<ELFFieldNumber>AUTH0055</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
										</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- PIN Type Code -->
			<xsd:element name="PINTypeCd" type="PINCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>PIN Type Code</xsd:Description>
						<ELFFieldNumber>AUTH0008</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Jurat Disclosure Code -->
			<xsd:element name="JuratDisclosureCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Jurat Disclosure Code</xsd:Description>
						<ELFFieldNumber>AUTH0075</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="2350 SIGNED BY PRACTITIONER WITH EFW"/>
						<xsd:enumeration value="2350 SIGNED BY PRACTITIONER WITHOUT EFW"/>
						<xsd:enumeration value="2350 WITH EFW"/>
						<xsd:enumeration value="2350 WITHOUT EFW"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Primary PIN entered by -->
			<xsd:element name="PrimaryPINEnteredByCd" type="PINEnteredByType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Primary PIN entered by</xsd:Description>
						<ELFFieldNumber>AUTH0080</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Spouse PIN entered by -->
			<xsd:element name="SpousePINEnteredByCd" type="PINEnteredByType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Spouse PIN entered by</xsd:Description>
						<ELFFieldNumber>AUTH0080</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Primary Signature -->
			<xsd:element name="PrimarySignaturePIN" type="PINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Primary Signature</xsd:Description>
						<ELFFieldNumber>AUTH0035</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Spouse Signature -->
			<xsd:element name="SpouseSignaturePIN" type="PINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Spouse Signature</xsd:Description>
						<ELFFieldNumber>AUTH0065</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Agent Signature -->
			<xsd:element name="AgentSignaturePIN" type="PINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Agent Signature</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Primary Signature Date -->
			<xsd:element name="PrimarySignatureDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Primary Signature Date</xsd:Description>
						<ELFFieldNumber>AUTH0070</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Spouse Signature Date -->
			<xsd:element name="SpouseSignatureDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Spouse Signature Date</xsd:Description>
						<ELFFieldNumber>AUTH0070</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Agent Signature Date -->
			<xsd:element name="AgentSignatureDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Agent Signature Date</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Return Identifiers -->
			<xsd:element name="ReturnTypeCd">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Return Type</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="2350"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Filer -->
			<xsd:element name="Filer">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Filer</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PrimarySSN" type="SSNType">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary SSN</xsd:Description>
									<ELFFieldNumber>F2350-0470</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpouseSSN" type="SSNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse SSN</xsd:Description>
									<ELFFieldNumber>F2350-0480</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PrimaryNm" type="PersonNameType">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Name</xsd:Description>
									<ELFFieldNumber>F2350-0010</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpouseNm" type="PersonNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Name</xsd:Description>
									<ELFFieldNumber>F2350-0040</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="AgentPersonNm" type="NameLine1Type" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Agent Name</xsd:Description>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PrimaryNameControlTxt" type="PersonNameControlType">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Name Control</xsd:Description>
									<ELFFieldNumber>F2350-0020</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpouseNameControlTxt" type="PersonNameControlType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Name Control</xsd:Description>
									<ELFFieldNumber>F2350-0050</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice>
							<xsd:element name="USAddress" type="USAddressType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>US Address</xsd:Description>
										<ELFFieldNumber>F2350-0070 F2350-0080 F2350-0090 F2350-0100</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForeignAddress" type="ForeignAddressType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Foreign Address</xsd:Description>
										<ELFFieldNumber>F2350-0110 F2350-0120 F2350-0130</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="binaryAttachmentCnt" type="IntegerNNType" use="required">
			<xsd:annotation>
				<xsd:documentation>
					<xsd:Description>The number of binary attachments in the return</xsd:Description>
					<ELFFieldNumber>NL</ELFFieldNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<!-- Binary Attachment Count -->
	</xsd:complexType>
</xsd:schema>
